doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    script(src='/javascripts/index.js')
  body

      nav.navbar.navbar-inverse
        .container-fluid

          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar


          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='/') Home
              li
                a(href='/books') Books
              li
                a(href='/books/new') Add a Book

            form.navbar-form.navbar-right(action='/search', method='get')
              .form-group
                input.form-control(type='text', name="q" placeholder='Search by Title or Author')
              button.btn.btn-default(type='submit') Submit
 




  block content
