body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
  background-image: url("hero.jpg");
}

.invisible {
  visibility: hidden;
}

.newbook {
  padding-right: 70%;
}

.form-group {
  padding-right: 10px;
}

span {
  padding-right: 10px;
}

a.btn.btn-default {
  margin-right: 10px;
}

.move {
  padding-right: 30px
}


