extends ../layout

block content
  h2.h2.text-center Your are now editing

  form.form-hortizontal(method='post', action=(book.id ? '/books/'+book.id : '/books'))
    .form-group
      input.form-control(type='text', name='book[title]', placeholder='Title', value=`${book.title || ''}`)

    .form-group
      input.form-control(type='text', name='book[author]', placeholder='Author')

    .form-group
      textarea.form-control(name='book[description]', placeholder='Description')= book.description

    .form-group
      input.form-control(type='text', name='book[image]', placeholder='Image URL', value=`${book.image || ''}`)

    .form-group
      button.btn.btn-success(type='submit') Add This Book
