extends ../layout

block content
  h1= title
  p Welcome to add page

  form(method='post', action=(book.id ? '/books/'+book.id : '/books'))
    div
      input(type='text', name='book[title]', placeholder='Title', value=`${book.title || ''}`)
    div
      input(type='text', name='book[author]', placeholder='Author')
    div
      textarea(name='book[description]', placeholder='Description')= book.description
    div
      input(type='text', name='book[image]', placeholder='Image URL', value=`${book.image || ''}`)
    div
      input(type='submit', value='Submit')
