extends ../layout

block content
  h2.h2.text-center Please add a new book

  form.form-group(method='post', action=(book.id ? '/books/'+book.id : '/books'))
    div.form-group
      input(type='text', name='book[title]', placeholder='Title', value=`${book.title || ''}`)
    div.form-group
      input(type='text', name='book[author]', placeholder='Author')
    div.form-group
      textarea(name='book[description]', placeholder='Description')= book.description
    div.form-group
      input(type='text', name='book[image]', placeholder='Image URL', value=`${book.image || ''}`)
    div
      input(type='submit', value='Submit')
